<% layout('layouts/boilerplate') %> 
  <h1>Edit Project</h1>
  <form action="/projects/<%= project.id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="project[title]" value="<%= project.title %> ">
    </div>
    <div>
      <label for="craft">Craft:</label>
      <input type="text" id="craft" name="project[craft]" value="<%= project.craft %> ">
    </div>
    <div>
      <label for="yarnCategory">Yarn Weight Category:</label>
      <input type="text" id="yarnCategory" name="project[yarnCategory]" value="<%= project.yarnCategory %> ">
    </div>
    <div>
      <label for="tool">Project Tool & Size:</label>
      <input type="text" id="tool" name="project[tool]" value="<%= project.tool %> ">
    </div>
    <button>Update Project</button>
  </form>
  <a href="/projects/<%= project.id %> ">Back to Project</a>
