<% layout('layouts/boilerplate') %> 
<!-- BOOTSTRAP GRID FORM -->
<div class="row">
  <h1 class="text-center">Edit Project</h1>
  <div class="col-6 offset-3">
    <form action="/projects" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="project[title]" value="<%= project.title %> ">
      </div>
      <div>
        <label class="form-label" for="craft">Craft</label>
        <input class="form-control" type="text" id="craft" name="project[craft]" value="<%= project.craft %> ">
      </div>
      <div>
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="image" name="project[image]" value="<%= project.image %> ">
      </div>
      <div class="mb-3">
        <label class="form-label" or="yarnCategory">Yarn Weight Category</label>
        <input class="form-control" type="text" id="yarnCategory" name="project[yarnCategory]" value="<%= project.yarnCategory %> ">
      </div>
      <div class="mb-3">
        <label class="form-label" for="tool">Project Tool & Size</label>
        <input class="form-control" type="text" id="tool" name="project[tool]" value="<%= project.tool %> ">
      </div>
      <div class="mb-3">
        <button class="btn btn-danger">Update Project</button>
      </div>
    </form>
    <a href="/projects/<%= project.id %> ">Back to Project</a>
  </div>
</div>