<% layout('layouts/boilerplate') %>
  <h1>All Projects</h1>

  <div class="card-group">
    <% for( let project of projects ) { %>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="<%=project.images[0].url%>" alt="" class="img-fluid card-img-top" alt="image of project">
            <div class="card-body">
              <h5 class="card-title">
                <%= project.title %>
              </h5>
              <p class="card-text">
                <%= project.craft %>
              </p>
              <p class="card-text">
                <%= project.yarnCategory %>
              </p>
              <p class="card-text">
                <%= project.toolSize %>mm <%= project.tool %>
              </p>
              <a class="btn btn-success" href="/projects/<%= project.id %>">View <%= project.title %></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created By: DcHook&&Coder</small>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>