<% layout('layouts/boilerplate') %> 
  <h1>All Projects</h1>
  <div>
    <a href="/projects/new">Add New Project</a>
  </div>

    <% for( let project of projects ) { %>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img src="<%=project.images[0].url%>" alt="" class="img-fluid">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text"><%= project.craft %></p>
              <p class="card-text"><%= project.yarnCategory %></p>
              <p class="card-text"><%= project.toolSize %>mm <%= project.tool %></p>
              <a class="btn btn-success" href="/projects/<%= project.id %>">View <%= project.title %></a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
