<% layout('layouts/boilerplate') %> 
  <h1><%= project.title %> </h1>
  <img src="<%= project.image %>/400x400" alt="project image">
  <ul>
    <li><%= project.craft %> </li>
    <li><%= project.yarnCategory %> </li>
    <li><%= project.tool %> </li>
  </ul>
  <p>
    <a href="/projects/<%= project.id %>/edit">Edit Project</a>
  </p>
  <p>
    <form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </p>

  <footer>
    <a href="/projects">All Projects</a>
  </footer>
